.f_proper_subset_s_image {
    background-image: url("../img/FProperSubsetS.png");
    background-repeat: no-repeat;
    height: 244px;
}
.a_int_b_int_c_image {
    background-image: url("../img/AIntBIntC.png");
    background-repeat: no-repeat;
    height: 400px;
}
.a_un_b_un_c_image {
    background-image: url("../img/AUnBUnC.png");
    background-repeat: no-repeat;
    height: 400px;
}  