.social_media_links {
  max-width: 100%;
  display: inline-block;
  position: fixed;
  bottom: 0;
  right: 0;
}
.banner_content {
  background-color: "white";
  background-image: url("../images/banner.png");
  background-repeat: no-repeat;
  width: 100%;
  height: 214px;
}
.dummy_FormEssentials {
  background-image: url("../images/DummyImage.png");
  background-repeat: no-repeat;
  width: 100%;
  height: 260px;
}
.dummy_DynamicHeight {
  background-image: url("../images/DummyImage.png");
  background-repeat: no-repeat;
  width: 100%;
}
.white_background {
  background-color: rgb(255,255,255);
}
.footer_content {
  background-image: url("../images/footer.png");
  background-repeat: no-repeat;
  width: 100%;
  height: 214px;
}

.dynamic_columns {
  resize: vertical;
  overflow: auto;
}
.dummy_DynamicIndividualHeight {
  background-image: url("../images/DummyImage.png");
  background-repeat: no-repeat;
  width: 100%;
  height: 2em;
}

.word_fanciness {
  color: rgb(28,52,101);
  fill: rgb(28,52,101);
}

.text_to_top {
  vertical-align: middle;
}
